# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# build artifacts
dist/
.wrangler/

# misc
.DS_Store
*.pem

# local env files
# do not commit any .env files to git, except for the .env.example file.
.env
.env-*
.env*.local
.dev.vars

# typescript
*.tsbuildinfo

# sqllite
local.*

# misc
.vscode/**

