@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* TODO: light theme needs major work... */
@layer base {
  :root {
    --background: 240 27% 85%;
    --foreground: 240 25% 20%;
    --muted: 240 2.82% 64.38%;
    --muted-foreground: 240 11.49% 43.47%;
    --popover: 280.75 28.09% 82.88%;
    --popover-foreground: 240 14.45% 20%;
    --card: 240 28% 90%;
    --card-foreground: 240 25% 20%;
    --border: 240 2.27% 55.92%;
    --input: 240 25.32% 75.28%;
    --primary: 13 88% 58%;
    --primary-foreground: 240 21.24% 93.16%;
    --secondary: 240 7.91% 69.93%;
    --secondary-foreground: 240 25% 20%;
    --accent: 271.7 31.69% 79.73%;
    --accent-foreground: 240 44.76% 18.07%;
    --destructive: 0 60.48% 53.29%;
    --destructive-foreground: 0 15.95% 89.93%;
    --ring: 198 39% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 27% 14%;
    --foreground: 240 25% 87%;
    --muted: 240 12.04% 43.94%;
    --muted-foreground: 240 10% 60%;
    --popover: 271.7 20.95% 43.88%;
    --popover-foreground: 240 14.45% 82.02%;
    --card: 240 28% 19%;
    --card-foreground: 240 25% 87%;
    --border: 240 20% 24%;
    --input: 240 20% 24%;
    --primary: 13 88% 58%;
    --primary-foreground: 240 25% 87%;
    --secondary: 240 20% 24%;
    --secondary-foreground: 240 25% 87%;
    --accent: 271.7 22.84% 52.15%;
    --accent-foreground: 240 46.43% 89.02%;
    --destructive: 0 60.48% 53.29%;
    --destructive-foreground: 0 100% 95%;
    --ring: 198 39% 56%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3 {
    font-family: var(--__sl-font-headings, var(--sl-font-mono, monospace));
    letter-spacing: -1px;
    font-weight: 500;
  }
  h4, h5, h6 {
    font-family: var(--__sl-font-headings, var(--sl-font-mono, monospace));
    letter-spacing: -0.5px;
    font-weight: 500;
  }
  h1 {
    font-size: var(--sl-text-h1);
  }
  h2 {
    font-size: var(--sl-text-h2);
  }
  h3 {
    font-size: var(--sl-text-h3);
  }
  h4 {
    font-size: var(--sl-text-h4);
  }
  h5 {
    font-size: var(--sl-text-h5);
  }
}
