@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 27% 94%;
    --foreground: 240 25% 15%;
    --muted: 240 5.32% 53.69%;
    --muted-foreground: 240 11.49% 48.47%;
    --popover: 280.75 39.58% 77.09%;
    --popover-foreground: 240 14.45% 22%;
    --card: 240 28% 95%;
    --card-foreground: 240 25% 15%;
    --border: 240 5.56% 48.1%;
    --input: 240 25.32% 80.28%;
    --primary: 13 88% 58%;
    --primary-foreground: 240 21.24% 93.16%;
    --secondary: 240 7.91% 74.93%;
    --secondary-foreground: 240 25% 15%;
    --accent: 271.7 31.69% 84.73%;
    --accent-foreground: 240 44.76% 18.07%;
    --destructive: 0 60.48% 53.29%;
    --destructive-foreground: 0 47.55% 91.2%;
    --ring: 198 19.69% 45.63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 27% 14%;
    --foreground: 240 25% 87%;
    --muted: 240 2% 27%;
    --muted-foreground: 240 10% 60%;
    --popover: 271.7 20.95% 43.88%;
    --popover-foreground: 240 25% 87%;
    --card: 240 28% 19%;
    --card-foreground: 240 25% 87%;
    --border: 240 20% 24%;
    --input: 240 20% 24%;
    --primary: 13 88% 58%;
    --primary-foreground: 240 25% 87%;
    --secondary: 240 20% 24%;
    --secondary-foreground: 240 25% 87%;
    --accent: 271.7 22.84% 52.15%;
    --accent-foreground: 240 46.43% 89.02%;
    --destructive: 0 60.48% 53.29%;
    --destructive-foreground: 0 100% 95%;
    --ring: 198 23.58% 25.52%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
