@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 20% 97%;
    --foreground: 240 27% 14%;
    --muted: 240 15% 90%;
    --muted-foreground: 240 20% 40%;
    --popover: 285.28 33.33% 92%;
    --popover-foreground: 240 27% 14%;

    --card: 240 19% 95%;
    --card-foreground: 240 27% 14%;
    --border: 240 15% 80%;
    --input: 240 15% 80%;

    --primary: 13 61.7% 46.62%;
    --primary-foreground: 240 27% 14%;
    --secondary: 240 20% 87%;
    --secondary-foreground: 240 27% 14%;
    --accent: 198 39% 56%;
    --accent-foreground: 240 27% 14%;

    --destructive: 0 50% 55%;
    --destructive-foreground: 0 27% 14%;
    --ring: 198 39% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 27% 14%;
    --foreground: 240 25% 87%;
    --muted: 240 15% 18%;
    --muted-foreground: 240 10% 60%;
    --popover: 280.75 34.51% 31.74%;
    --popover-foreground: 240 14.45% 82.02%;

    --card: 240 28% 19%;
    --card-foreground: 240 25% 87%;
    --border: 240 20% 24%;
    --input: 240 20% 24%;

    --primary: 13 61.7% 46.62%;
    --primary-foreground: 240 25% 87%;
    --secondary: 240 20% 24%;
    --secondary-foreground: 240 25% 87%;
    --accent: 198 39% 56%;
    --accent-foreground: 240 27% 14%;

    --destructive: 0 66.42% 42.06%;
    --destructive-foreground: 0 100% 95%;
    --ring: 198 39% 56%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3 {
    font-family: var(--__sl-font-headings, var(--sl-font-mono, monospace));
    letter-spacing: -1px;
    font-weight: 500;
  }
  h4, h5, h6 {
    font-family: var(--__sl-font-headings, var(--sl-font-mono, monospace));
    letter-spacing: -0.5px;
    font-weight: 500;
  }
  h1 {
    font-size: var(--sl-text-h1);
  }
  h2 {
    font-size: var(--sl-text-h2);
  }
  h3 {
    font-size: var(--sl-text-h3);
  }
  h4 {
    font-size: var(--sl-text-h4);
  }
  h5 {
    font-size: var(--sl-text-h5);
  }
}
